*{
  margin:0;
  padding:0;
}

*{
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
  margin: 0 auto;
  width:95%;
  max-width: 1600px;

}

.background_stretch_top{
   background-image:url("../images/stripe.jpg");
  background-repeat: repeat-x;
   padding-top:2rem;
   height:10%;
   margin-bottom:4%;
}

.background_stretch_bottom{
   background-color:#E9ECEB;
   padding-top:2rem;
   height:6rem;
   margin-bottom:0rem;
   margin-top:6%;
}

.background_stretch_copyright{
   background-color:#1E90FF;
   padding-top:1rem;
   padding-bottom:1rem;
   height:1.5rem;
   margin-bottom:0px;
   margin-top:3%;
   text-align: center;
}

a{
  text-decoration: none;
}

a:hover{
  opacity: .5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  
}



header a img{
max-width:25%;
margin-bottom:3%;
}




header nav{
  background-color:white;
  padding:2% 1% 2% 1%;
  border-radius: 0 0 0 0;
  color:#1E90FF;
  
}

header nav ul li a{
  font-size:.9em;
  letter-spacing: .15rem;
  font-weight:400;
  padding:0;
  
  
}

header nav a:link{
  color:#1E90FF;
}

header nav a:visited{
  color:#1E90FF;
}

header nav a:hover{
  color:#FF3B00;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}


header ul li{
  display:inline-flex
}

header p{
  display:inline-flex;
  padding:0;
  margin:0rem .2rem 0rem .2rem;
}


header nav {
  float:right;
   
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.center{
  text-align:center;
}

/*main section */

.inside_container{
  display:flex;
  flex-wrap:nowrap;
  margin-bottom:.12rem;
}

.container img{
  width:100%;
  
}

.link_image{
  margin-right: .1rem;
  }


/*link text*/
article a p{
  text-align:center;
  margin-top:-.2rem;
  color: darkgray;
  font-size: 1rem;
  letter-spacing: .05rem;
  background-color:#363636;
  padding-top:1rem;
  padding-bottom:2.5rem;
}

/*footer*/

footer nav ul li a{
  font-size:1em;
  letter-spacing: .15rem;
  font-weight:800;
  padding:0;
  text-align: center;
}

footer nav a:link{
  color:#1E90FF;
}

footer nav a:visited{
  color:#1E90FF;
}

footer nav a:hover{
  color:#FF3B00;
}


footer ul li{
  display:inline-flex;
   
}

footer nav{
  width:10rem;
  margin: 0px auto;
  color:#1E90FF;
  
}

nav p{
  display:inline-flex;
}

/*about me*/

.large_text{
 font-size: 1.5em;
  font-weight: 100;
  line-height: 1.4em;
}

h3{
  background-color:#1E90FF;
  width:115px;
  margin:0 auto;
  padding:.7rem;
  color:white;
  font-size:1.5rem;
  text-align: center;
  border-radius: 20px;
  margin-bottom:2%;
}

.about_me{
  margin-top: 5rem;
  width:70%;
  margin-bottom: 12rem;
  text-align: center;
}

h4{
  font-size: 1.15rem;
  font-weight: 200;
  letter-spacing: .1rem;
  margin-bottom: 2%;
  text-decoration: underline;
}

/*extras*/
article{
  
  margin-top: 40%;
  margin-bottom: 40%;
}


.copyright{
 
  color:white;
  display: inline-flex;
  font-weight:300;
  font-size:.9rem;
}

.fix{
  
  z-index: 1; 
  position:fixed;
  bottom:0px;
  height:auto;
  width:100%;"
  
}


/*gg page*/

.posters{
  max-width: 636px;
  margin:0 auto;
  margin-top:5%;
}

h5{
  font-size:1.4rem;
  color:#1E90FF;
  letter-spacing: .06rem;
  margin-bottom:2%;
}